// Import page-specific CSS files here.
@import "home";
@import "show_pros";
@import "show_booking";

#map{
  width: 450px;
  height: 350px;
  margin: 10px auto;
}

.banner-index-pro {
  color: white;
  padding: 70px;
  background-color: $deep_blue;
  background-size: cover;
}
