// BANNER DE LA SHOW ->

.banner-show-booking {
  color: white;
  // height: 500px;
  padding: 100px;
  background-color: $deep_blue;
  // background-image: linear-gradient(0deg, rgba(29,29,29,0.4) 0%, rgba(29,29,29,0.4) 100%), url(summer-background-sea-water.jpeg);
  background-size: cover;
  // z-index: -1;
  // top: 0;
  // position:fixed;
}

.banner-booking-info {
  padding: 10px 40px;
  margin: auto 0;
}


// CSS SUR LES CARDS DES OFFRES DANS LA SHOW DU PRO
