<div class="container mt-3">
  <%= month_calendar(events: @bookings, attribute: :start_at, end_attribute: :end_at) do |date, bookings| %>
    <%= date %>
    <% bookings.each do |booking| %>
      <div class="meeting">
        <%= link_to "#{booking.user.first_name}", booking_path(booking), class: "btn btn-outline-success" %>
      </div>
    <% end %>
  <% end %>
</div>
