<div class="container-transparent-navbar">

  <div>
        <div class="text-center">
          <h1><i class="fa-solid fa-dharmachakra"></i> Dashboard</h1>
          <h2>Welcome <%= current_user.first_name %>, 🤿</h2>
        </div>
        <%= render "bookings/dashboard"%>
  </div>
</div>
