<div class="container">
<div class="banner" >
    <h1>Welcome to Scuba libre</h1>
    <p>Find a scuba instructor for your next dive!</p>
    <div class="search w-25">
        <%= form_tag pros_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Location"
          %>
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
    </div>
</div>
</div>
