  <div class="video">
  <%= video_tag "https://res.cloudinary.com/dtohrmf4g/video/upload/v1654167319/aquarium_-_109184_Original_pgrubc.mp4", autoplay: true, muted: true, loop: true, id: "background-video" %>
  </div>
<div class="container">
  <div class="banner" >
    <h1>Welcome to ScubaLibre</h1>
    <p>Find a scuba instructor for your next dive!</p>
    <div class="search col-4">
        <%= form_tag pros_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Where do you want to dive?"
          %>
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
    </div>
  </div>
</div>
<div class="dark fold">
  <div class="container">
    <h1>About us</h1>
    <p>Founded by divers and ocean lovers, ScubaLibre allows you to explore the underwater world the easiest way possible.
    Whether you're eager to learn how to dive or you want to perfect your skills, our members will find the best option for you !</p>
    <p>No matter where you are in your diving journey of learning, the Scuba Libre staff has the instruction and safety to provide you with the next step. Check out all our courses, from recreational diving to a professional career path, and let us help you reach your next underwater diving goal.</p>

    <h2>Scuba Libre cares about the protection of the underworld environment</h2>
    <p>Wondering how to protect the ocean? Here are a bunch of straightforward things to do and smart ways to help save the oceans as a diver.
    Since the ocean covers more than 71% of our planet’s surface, it is home to an astounding diversity of species and affects everything from climate regulations to food systems.
    It is crucial as divers that we protect our ocean from the effects of overfishing, climate change, and over pollution as it encourages others to also protect the ocean that we love so much.
    Whilst it’s easy to feel powerless and overwhelmed, the truth is, if everyone pitches in, then we can make a big difference.</p>
  </div>
</div>
<div class="inspire">
  <h1> Feeling uninspired ? Here are some recommendations for you </h1>
</div>

<div class="cards d-flex px-5 py-5">
  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246358/sonaal-bangera-RVuj71bsU4Y-unsplash_ihtj9y.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Bali</h2>
          <p>Dive with manta rays</p>
      </div>
    </div>
  </div>


  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246658/david-reynolds--eMN9QKB5bE-unsplash_glwpns.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Belize</h2>
          <p>Explore the barrier reef</p>
      </div>
    </div>
  </div>

  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654246509/malek-bee-Zw_eV19BC58-unsplash_wsile0.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Cozumel</h2>
          <p>Discover the wrecks of Mexico</p>
      </div>
    </div>
  </div>

  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654174745/cenote_nma8pr.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Cancun</h2>
        <p>Dive in the cenotes</p>
      </div>
    </div>
  </div>
</div>

<div class="cards d-flex px-5 py-5">
  <div class="card-trip w-25 rounded">
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654245062/photodiver_gnf3nr.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Baja California</h2>
          <p>Learn underwater photography</p>
        </div>
      </div>
  </div>



  <div class="card-trip w-25 rounded">
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654200702/shifaaz-shamoon-t4a2jEhg1n8-unsplash_tvczol.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Malta</h2>
          <p>Free dive in the best reefs</p>
        </div>
      </div>
  </div>

  <div class="card-trip w-25 rounded">
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654238708/tech_diving_mgbnnc.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Norway</h2>
          <p>Get into Tech Diving</p>
        </div>
      </div>
  </div>

  <div class="card-trip w-25 rounded">
      <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654238858/beach_dive_dc7juf.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Honduras</h2>
          <p>The best shore dives </p>
        </div>
      </div>
  </div>
</div>



<div class="divers">
</div>

<div class="vague">
</div>
