  <%= video_tag "https://res.cloudinary.com/dtohrmf4g/video/upload/v1654167319/aquarium_-_109184_Original_pgrubc.mp4", autoplay: true, muted: true, loop: true, id: "background-video" %>

<div class="container">
  <div class="banner" >
    <h1>Welcome to ScubaLibre</h1>
    <p>Find a scuba instructor for your next dive!</p>
    <div class="search col-4">
        <%= form_tag pros_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Where do you want to dive?"
          %>
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
    </div>
  </div>
</div>
<div class="dark fold">
  <div class="container">
    <h1>About us</h1>
    <p>Founded by divers and ocean lovers, ScubaLibre allows you to explore the underwater world the easiest way possible.
      Whether you're eager to learn how to dive or you want to perfect your skills, our members will find the best option for you !</p>
      Our amazing team are waiting to hear from you, so get in touch and learn more about us !

    <h2>ScubaLibre connects you to the ocean </h2>


  </div>
</div>
<div class="cards d-flex px-5 py-5">
  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654172750/andre-kaim-Syzn3nfkYE4-unsplash_rt5kmi.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Bali</h2>
          <p>Dive with manta rays</p>
      </div>
    </div>
  </div>

  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654173722/shaun-low-v8Un2Roo1Ak-unsplash_yj8zbo.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Belize</h2>
          <p>Explore the barrier reef</p>
      </div>
    </div>
  </div>

  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654173937/sense-atelier--j4nCJeq_C0-unsplash_nnyywi.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Playa del Carmen</h2>
          <p>Swim with whale sharks</p>
      </div>
    </div>
  </div>

  <div class="card-trip w-25 rounded">
    <img src="https://res.cloudinary.com/dtohrmf4g/image/upload/v1654174745/cenote_nma8pr.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Cancun</h2>
        <p>Dive in the cenotes</p>
      </div>
    </div>
  </div>
</div>

<div class="divers">

</div>

<div class="vague">
</div>
