// Cards de l'index des pros
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 28px;
  a {
    text-decoration: none;
  }
}

.card-pro {
  overflow: hidden;
  background: transparent;
  // box-shadow: $box-shadow-cards;
  margin-top: 10px;
  border-radius: 5px;
  // .image-pro {
  //   overflow: hidden;
  // }
  .img-container {
    height: 200px;
    max-height: 200px;
    overflow: hidden;
  }
  > div > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
      &:hover{
        max-height: 200px;
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        }
    }
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #3439C9;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: $headers-font;
      &:hover{
      text-decoration: underline;
      color: #3439C9;}
  }
  p {
    font-size: 12px;
    margin: 0;
    color: $gray;
    // font-weight: $font-weight-light;
  }
  .card-infos {
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    border-bottom: 3px;
    font-family: $body-font
  }
  .tag {
    background-color: #272343;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    width: fit-content;
    padding: 2px 6px 2px 6px;
  }
}

// Cards des offers dans la show du pro

.card-offers {
  overflow: hidden;
  background: white;
  // box-shadow: $box-shadow-cards;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px;
  > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #272343;
  }
  p {
    font-size: 14px;
    margin: 0;
    color: black;
    // font-weight: $font-weight-light;
  }
  .card-offers-bottom {
    display: flex;
    // padding: 25px 35px;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px;
  }
  .tag {
    background-color: #272343;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    width: fit-content;
    padding: 2px 6px 2px 6px;
  }
}

.underline{
  text-decoration: underline;
  font-size: 12px;
  color: $gray;
    &:hover{
      color: gray
    }

}
