.container-transparent-navbar {
  padding-top: 80px;
}

.navbar {
  padding: 1rem 2rem;
}
// Navbar Transparent ///

.navbar-transparent {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
    .navbar-collapse {
      flex-grow: 0;
    }
    .navbar-brand img {
      width: 40px;
    }
    .btn-pro {
      margin-left: -10px;
      color: $red;
      font-size: smaller;
    }
}

// Navbar White ///

.navbar-plain {
  justify-content: space-between;
  background-color: $deep_blue;
  transition: 0.5s background-color ease;

    .navbar-collapse {
      flex-grow: 0;
    }
    .btn-outline-light {
      color: black;
      background-color: white;
      border-color: black;
      &:hover {
        color: white;
        background-color: black;
        border-color: white;
      }
    }
    .btn-pro {
      margin-left: -10px;
      color: $red;
      font-size: smaller;
    }
  }

// DROPDOWN MENU

.navbar .dropdown a {
  color: $deep_blue;
}

.navbar .dropdown-menu {
  border-radius: 3px;
}

.HellonoHover{
  pointer-events: none;
  text-align: center;
  border-bottom: 0.5px solid $blue;
}
