.search {
  border: none;
  border-radius: 100px;
  background-color: white;
  display: block;
  padding: 10px 10px 10px 20px;
  border: 1px solid #e7e7e9;
  justify-content: left !important;
    i {
      color: white;
    }
    .form-control {
      border: none;
      border-radius: 25px;
      background-color: white;
      &:focus {
      box-shadow: none;
      }
    }
    .btn-primary {
      border-radius: 100px;
      margin: 3px;
      margin-left: 40px;
    }
}

.search-price {
  border: none;
  border-radius: 100px;
  background-color: white;
  display: block;
  padding: 5px 0px 5px 0px;
  border: 1px solid #e7e7e9;
  justify-content: left !important;
    i {
      color: darkgreen;
    }
    .form-control {
      border: none;
      border-radius: 25px;
      background-color: white;
      &:focus {
      box-shadow: none;
      }
    }
    .btn-primary {
      border-radius: 100px;
      // margin: 3px;
      // margin-left: 40px;
    }
}

.chat {
  border: none;
  border-radius: 100px;
  background-color: white;
  display: block;
  padding: 10px 5px 0px 0px;
  border: 1px solid #e7e7e9;
  justify-content: left !important;
    i {
      color: black;
    }
    .form-control {
      border: none;
      border-radius: 25px;
      background-color: white;
      &:focus {
      box-shadow: none;
      }
    }
    .btn-primary {
      border-radius: 100px;
      // margin: 3px;
      // margin-left: 40px;
    }
}

.search-lite {
  border: none;
  border-radius: 100px;
  background-color: white;
  display: block;
  justify-content: left !important;
    i {
      color: white;
    }
    .form-control {
      border: none;
      border-radius: 25px;
      background-color: white;
      &:focus {
      box-shadow: none;
      }
    }
    .btn-primary {
      border-radius: 100px;
    }
}

.search-expand-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search-expand{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: $orange;
  padding-right: 40px;
  color:#fff;
}
.input-search-expand::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search-expand{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search-expand:focus ~ .input-search-expand{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search-expand:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
